<p><%= comment.content %></p>
<%= link_to 'Edit', edit_article_comment_path(comment.article, comment), class: "btn_btn-success" %></p>
<%= link_to 'Delete', article_comment_path(comment.article, comment), method:  :delete, data: {confirm: "Are you sure to delte this comment ?"} %>